.body-email {
    font-family: system-ui;
    color: white;
    align-items: center;
    background-color: #f2f2f2;
    padding: 80px;
    padding-left: 40%;
}

.body-email {
    background-image: url("../images/fabas1/carpenter_3.jpg");
    padding-top: var(--main-padding-top);
        padding-bottom: var(--main-padding-bottom);
        position: relative;
        background-size: cover;
        min-height: 300px;
}

.body-email::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.774);
}

.container-email {
    width: 350px;
    padding: 20px;
    align-items: center;
    background: #323232;
   position: relative;
}

.forms {
    width: 90%;
    display: inline-block;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
}

button {
    background-color: #eaeaea;
    color: black;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    margin-top: 20px;
}

.buttons {
    padding-left: 40px;
    text-align: center;
}



.box .text {
    line-height: 2;
    color: #050505;
}

.box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
}

.box .links li:not(:last-child) {
    border-bottom: 1px solid #333;
    font-weight: bold;
}

.box .links li:hover {
    padding-left: 10px;
}

.box .links li:hover a {
    color: var(--mainColor);
}

.box .links li a {
    color: #0a0a0a;
    transition: var(--main-transition);
}

.box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--mainColor);
}

.box .line {
    display: flex;
    align-items: center;
    color: #0a0a0a;
    margin-bottom: 30px;
    font-weight: bold;
}

@media (max-width: 767px) {
    .footer .box .line {
        flex-direction: column;
    }
}

.box .line i {
    font-size: 25px;
    color: var(--mainColor);
    margin-right: 10px;
    text-decoration: none;
}

@media (max-width: 767px) {
    .footer .box .line i {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

.box .line .info {
    line-height: 1.7;
    flex: 1;
}

.box .line .info span {
    display: block;
}